{% extends "base.html" %}

{% block content %}
<center>
    <h1>Add a Blog Entry</h1>
</center>
    <form method="post" action='/'
    <table> 
        <div>
            <tr>
                <td>
            Title for your new blog: </label> </td>
            </tr>
        </div>
        <div>
        <tr>
            <td>
            <input type="text" name="task" />
            </td>
        </tr>
        </div>
        <div><h1></h1></div>
        <div>
        <tr>
            <td><label>
                Your new blog: </label></td>
        </tr>
        </div>
        <div>
            <tr>
                <td>
                    <textarea rows="15" cols="75"></textarea>
                </td>
            </tr>
        </div>
        <div>
            <tr>
                <td>
                    <input type="submit" value='Add Blog' />
                </td>
            </tr>
        </div>
    </table>
        
    </form>

    <hr />
   
    
{% endblock %}
