<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color:red;
                }
        </style>
    </head>
<body>
    <nav>
        <form>
        <tr>
        <ul>
            <li>
                    <a href='/login'>Log In</a>
            </li>
            <li><a href='/logout'>Log Out</a></li>
        </ul>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/blog'>All Blogs</a></li>
            <li><a href='/newpost'>Add a Blog Entry</a></li>

        </ul>
        </tr>
        </form>

    </nav>
    


    {% block content %}
    {% endblock %}    

</body>
</html>