{% extends "base.html" %}

{% block content %}
<h1>Blogz Signup</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Create Account</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
                <span class="error">{{ error }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span class="error">{{ pass_err }}</span>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <span class="error">{{ verify_err }}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup">
</form>
{% endblock %}